.react-calendar {
  width: 350px;
  max-width: 100%;
  background: white;
  /* border: 1px solid #a0a096; */
  font-family: 'Inter', sans-serif;
  line-height: 1.125em;
}

.react-calendar--doubleView {
  width: 700px;
}

.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}

.react-calendar--doubleView .react-calendar__viewContainer>* {
  width: 50%;
  margin: 0.5em;
}

.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}

.react-calendar button:enabled:hover {
  cursor: pointer;
}

.react-calendar__navigation {
  display: flex;
  height: 44px;
  margin-bottom: 1em;
}

.react-calendar__navigation button {
  min-width: 44px;
  background: none;
  color: #006666;
}

.react-calendar__navigation button:disabled {
  background-color: #f0f0f0;
}

/* .react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
    background-color: #e6e6e6;
} */

abbr:where([title]) {
  text-decoration: none !important;
}

.react-calendar_month-view_weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: semi-bold;
  font-size: 0.75em;
  color: #006666;
}

.react-calendar_month-viewweekdays_weekday {
  padding: 0.5em;
}

.react-calendar_month-viewweekNumbers .react-calendar_tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1em;
  font-weight: medium;
  border-radius: 50%;

}

.react-calendar_month-viewdays_day--neighboringMonth {
  color: #b4b2b2 !important;
}

.react-calendar_year-view .react-calendar_tile,
.react-calendar_decade-view .react-calendar_tile,
.react-calendar_century-view .react-calendar_tile {
  padding: 2em 0.5em;
}

.react-calendar__tile {
  max-width: 100%;
  /* padding: 2em 0.5em; */
  padding: 0 !important;
  height: 42px;
  width: 20px;
  border-radius: 50%;

  background: none;
  text-align: center;
  /* line-height: 16px; */
  color: #878585;

}

.react-calendar__tile:disabled {
  background-color: #f0f0f0;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #e6e6e6;
}

.react-calendar__tile--now {
  background: #006666a8 !important;
  color: white;
  border-radius: 50%;
}

/* .react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
    background: #ffffa9;
} */


/* .react-calendar__tile--hasActive {
    background: #006666;
}

.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
    background: #006666;
} */

.react-calendar__tile--active {
  background: #006666;
  color: white;
  border-radius: 70%;
}

.highlights {
  color: #006666;
}


.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #006666;
  color: white;
}

.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #07c6c6;
}